#logo {
	color: rgb(255, 0, 0);
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
	letter-spacing: 3px;
	margin-left: 5px;
}
body,
html {
	margin: 0;
	background-color: #000;
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.App {
	background-color: #000;
}
.Nav {
	margin-left: 30px;
	margin-right: 30px;
}
h1 {
	color: #ffff;
}
.nav-item {
	color: rgb(141, 140, 140);
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
.nav-item:hover {
	color: #eee;
}
.banner {
	height: 86vh;
	display: flex;
	align-items: center;
	background-size: cover;
	margin: 5px 30px 10px 30px;
	border-radius: 20px;
}
/* 배너 그라데이션 */
.banner:before {
	position: relative;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: linear-gradient(to right, rgb(14, 10, 10), transparent);
	border-radius: 20px;
}
.banner-info {
	width: 60%;
	margin: 0 auto;
	position: absolute;
	top: 30%;
	padding-left: 100px;
	z-index: 1;
	color: white;
}
.main-container {
	background: linear-gradient(135deg, #0a0113, #350303);
	padding: 30px;
	width: 80%;
	border-radius: 30px;
	margin: 50px auto;
}
.moiveWrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 60px;
}
.movieSlide {
	width: 40%;
	border-radius: 20px;
}

.main-container h1 {
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 30px;
}
.movie-card {
	cursor: pointer;
	height: 100%;
	border-radius: 20px;
	background-size: cover;
}
.movie-card:hover {
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.movie-card:hover .overlay .head {
	color: #eee;
	margin-bottom: 50px;
	transform: translateY(0px);
}
.head {
	font-size: 50px;
	font-weight: bolder;
	line-height: 40px;
	transform: translateY(40px);
	transition: all 0.7s;
}
.head hr {
	display: block;
	width: 0;
	border: none;
	border-bottom: solid 2px #fef5df;
	position: absolute;
	bottom: 0;
	left: 20px;
	transition: all 0.5s;
}
.genre {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	transform: translateY(0px);
}
.genre .Badge {
	font-size: 15px;
}
.score {
	margin-top: 50px;
	color: #eee;
}
.overlay {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	background: rgba(63, 62, 62, 0.9);
	opacity: 0;
}
.movie-card:hover .overlay {
	opacity: 1;
	padding: 20px;
}
/* .card:hover .overlay hr {
	width: 75px;
	transition-delay: 0.4s;
} */

.items {
	padding-left: 20px;
	letter-spacing: 3px;
}

.movie-sidebar-wrapper {
	display: flex;
	justify-content: space-between;
}
.dot {
	position: relative;
}

.Login {
	background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/51e53f54-0d9f-40ec-9e05-c030def06ac9/400e792e-439b-4606-b384-d6d648de2f79/KR-ko-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg");
	background-size: cover;
	height: 90vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mt-5 {
	width: 300px;
	background-color: rgba(0, 0, 0, 0.8);
	color: black;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-check-input {
	background-color: #ff1324;
	border-color: #ff1324;
}

/* 회원가입 완료 시 글씨 애니메이션 */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.email {
	background-image: linear-gradient(
		90deg,
		red,
		orange,
		yellow,
		green,
		blue,
		navy,
		purple
	);
	-webkit-background-clip: text;
	color: transparent;
}
